/*
# Main styles
*/

body
	background-color: rgb(250, 250, 250)

/*
# Legal text
```
    <p class="legal">Copyright &copy; YYYY Name of Person or Organization. <a href="#">License terms</a>. Simpsons reference.</p>
```
*/
.legal
	font-size: 0.6em
	font-style: italic
